body {
    margin: 0;
    font-family: "IBM Plex Sans", sans-serif;
    line-height: 1.6;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #012fff;
    color: white;
    padding: 2rem 1rem;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #333;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 1rem 1.5rem;
    display: block;
}

nav a:hover {
    background-color: #575757;
}

main {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 1rem;
}

section {
    margin-bottom: 3rem;
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

section:hover {
    transform: translateY(-5px);
}

h2 {
    color: #0000ff;
    margin-bottom: 1rem;
    text-align: center;
}


img {
    max-width: 100%;
    border-radius: 8px;
    margin: 1rem 0;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1.5rem 1rem;
    margin-top: 2rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

#thanks p {
    text-align: center;
}

#overview p {
    text-align: center;
    font-size: 18px;

}


.projects-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-around;
}


.project-item {

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1 1 300px;
    padding: 1rem;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.concept-item {

    background-color: white;
    padding: 1.5rem;
    text-align: center;
    transition: transform 0.3s;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.concept-item:hover {
    transform: translateY(-5px);
}

header p {
    text-align: center;
    font-size: 20px;
}

#progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 5px;
    width: 0%;
    background-color: #ffcc00;
    z-index: 1001;
    transition: width 0.1s; 
}

.video {
    width: 100%;
    max-width: 900px;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}